.timer {
  position: absolute;
  left: 50%;
  top: 50%;
  user-select: none;
  color: white;

  animation: pulse 0.5s infinite ease-in-out alternate;

  transform: translate(-50%, -50%) scale(0.5);
  font-size: 4rem;
}

.circularProgressBar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s ease-in-out;
}

.progressCircle {
  animation: progress 5s linear forwards;
  stroke: #14cc98;
  stroke-dashoffset: 90;
}

.progressCircleTrack {
  animation: progress2 5s linear forwards;
  stroke: #0d4233;
}

@keyframes pulse {
  from {
    transform: translate(-50%, -50%) scale(0.75);
  }
  to {
    transform: translate(-50%, -50%) scale(1.25);
  }
}

@keyframes progress {
  from {
    opacity: 1;
    stroke-dashoffset: 90;
  }
  to {
    opacity: 0;
    stroke-dashoffset: 300;
  }
}

@keyframes progress2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
