.genericTouchPoint {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
}

.touchPoint {
  background-color: rgba(0, 152, 212, 0.5);
  border: 4px solid #0098d4;
}

.winnerTouchPoint {
  animation: winnerTouch 0.2s ease-in-out infinite alternate;

  background-color: rgba(10, 133, 98, 1);
  transform: scale(0.5);
  border: 4px solid white;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 1);
}

@keyframes winnerTouch {
  from {
    transform: scale(0.75);
    background-color: rgba(10, 133, 98, 1);
    border: 4px solid white;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 1);
  }
  to {
    transform: scale(1.25);
    background-color: rgba(10, 133, 98, 0.5);
    border: 4px dashed #00ff85;
    box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 0.25);
  }
}

.groupTouchPoint1 {
  background-color: rgba(0, 152, 212, 0.5);
  border: 4px solid #0098d4;
}

.groupTouchPoint2 {
  background-color: rgba(10, 133, 98, 0.5);
  border: 4px solid #00ff85;
}

.groupTouchPoint3 {
  background-color: rgba(110, 10, 10);
  border: 4px solid #d40808;
}

.groupTouchPoint4 {
  background-color: rgba(171, 171, 5, 0.5);
  border: 4px solid #e0e010;
}

.groupTouchPoint5 {
  background-color: rgba(145, 145, 145, 0.5);
  border: 4px solid #ffffff;
}
